# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
Samples/JKExpandTableViewSamples/CodeFormatter/Uncrustify_opened_Xcode_sources.workflow/Contents/Info.plist
Samples/JKExpandTableViewSamples/CodeFormatter/Uncrustify_opened_Xcode_sources.workflow/Contents/QuickLook/Thumbnail.png
Samples/JKExpandTableViewSamples/CodeFormatter/Uncrustify_opened_Xcode_sources.workflow/Contents/document.wflow
Samples/JKExpandTableViewSamples/CodeFormatter/howTo.md
Samples/JKExpandTableViewSamples/CodeFormatter/scripts/formatAllSources.sh
Samples/JKExpandTableViewSamples/CodeFormatter/scripts/formatOpenedSources.sh
Samples/JKExpandTableViewSamples/CodeFormatter/uncrustify_objective_c.cfg
